---
extends: default

rules:
  line-length:
    max: 120
    level: warning
  
  indentation:
    spaces: 2
    indent-sequences: true
  
  comments:
    min-spaces-from-content: 1
  
  comments-indentation: {}
  
  document-start: disable
  
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']
    check-keys: false
  
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 1
  
  colons:
    max-spaces-before: 0
    max-spaces-after: 1
  
  commas:
    max-spaces-before: 0
    min-spaces-after: 1
    max-spaces-after: 1
  
  empty-lines:
    max: 2
  
  empty-values:
    forbid-in-block-mappings: false
    forbid-in-flow-mappings: true
  
  hyphens:
    max-spaces-after: 1
  
  key-duplicates: {}
  
  new-line-at-end-of-file: {}
  
  new-lines:
    type: unix
  
  trailing-spaces: {}

ignore: |
  out/
  .venv/
  venv/
  node_modules/
  __pycache__/
